.App {
  font-family: sans-serif;
  text-align: center;
}
.button {
  width: 50%;
  background-color: #e7e7e7;
  border: 1px solid #555555;
  color: black;
  padding: 6px 20px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
}
